<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 mt-1 p-0">
				<div class="card p-0 mb-5 border-0">
					<div class="card-body">
						<div class="list-group border-0">
							<p class="fs-3">Category</p>
							<a href="/products" class="list-group-item list-group-item-action border-0"
								th:classappend="${currentCategory == ''} ? 'active' : ''" aria-current="true"> All </a>

							<a href="#" th:each="category : ${allCategory}"
								th:href="@{'/products?category='+${category.categoryName}}"
								th:classappend="${currentCategory == category.categoryName} ? 'active' : '' "
								class="list-group-item list-group-item-action border-0 border-top">[[${category.categoryName}]]</a>
							<a href="/products?category=Other"
								class="list-group-item list-group-item-action border-0 border-top"
								th:classappend="${currentCategory == 'Other'} ? 'active' : ''" aria-current="true">
								Other
							</a>

						</div>
					</div>
				</div>
			</div>

			<div class="col-md-10">
				<div class=" mt-1 p-3">
					<div class="card-body">
						<div class="row">
							<th:block th:if="${allProducts.size > 0}">
								<div class="col-md-3 mb-3" th:each="product : ${allProducts}">
									<div class="card"
										style="width: 100%; max-width: 300px; height: 350px; display: flex; flex-direction: column;">
										<div class="card-body d-flex flex-column text-center" style="padding: 1rem;">
											<div
												style="height: 150px; overflow: hidden; border-radius: 8px; margin-bottom: 0.5rem;">
												<img th:src="@{'/uploads/product_image/'+ ${product.productImage}}"
													alt="product_image"
													style="width: 100%; height: 100%; object-fit: cover; display: block;">
											</div>

											<p class="fs-5" style="flex-grow: 1; margin: 0.5rem 0;">
												<b>[[${product.productName}]]</b>
											</p>

											<p class="fs-6 fw-bold text-secondary" style="margin: 0.5rem 0;">
												$[[${product.productPrice}]]</p>

											<a th:href="@{'/product/'+${product.id}}" class="btn btn-danger mt-auto"
												style="margin-top: auto;">
												Details
											</a>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:unless="${allProducts.size > 0}">
								<p class="fs-3 text-danger mt-3 text-center border-0">No Products Found!</p>
							</th:block>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<ul class="pagination">
						<li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
							th:classappend="${i == currentPage} ? ' active'">
							<a class="page-link" th:text="${i}" th:href="@{#strings.isEmpty(currentCategory)} ?
        							    @{/products(p=${i})}: @{/products(category=${currentCategory}, p=${i})}">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

</html>