<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<section>
	<div class="container-fluid p-5">
		<div class="row">
			<div class="col-md-4">
				<a th:href="@{'/admin/add-category'}" class="btn btn-primary mb-3">Add Category</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card custom-card-shadow">
					<div class="card-header text-center fs-4">List of Category</div>
					<div class="card-body">
						<table cellspacing="0" width="100%">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Category</th>
									<th scope="col">Description</th>
									<th scope="col"> Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="category: ${allCategoryList}" class="border-top">
									<td th:text="${category.id}"></td>
									<td th:text="${category.categoryName}"></td>
									<td th:text="${category.categoryDescription}"></td>
									<td>
										<a th:href="@{'/admin/edit-category/'+${category.id}}"
											class="btn btn-info btn-sm"><i
												class="fa-solid fa-pen-to-square text-decoration-none"></i></a>;

										<a th:href="@{'/admin/delete-category/'+${category.id}}"
											class="btn btn-danger btn-sm"
											onclick="return confirm('Are you sure want to delete this?');"><i
												class="fa-solid fa-trash text-decoration-none"></i></a>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<ul class="pagination">
				<li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
					th:classappend="${i == currentPage} ? ' active'">
					<a class="page-link" th:text="${i}" th:href="@{/admin/category(p=${i})}">
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>