<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<section>
	<div class="container p-5">

		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card custom-card-shadow">
					<div class="card-header text-center fs-4">Edit Product</div>

					<div class="card-body">
						<form action="/admin/update-product" method="post" enctype="multipart/form-data">
							<input type="hidden" name="id" th:value="${product.id}">

							<div class="mb-3">
								<label>Enter Title</label>
								<input type="text" name="productName" class="form-control"
									th:value="${product.productName}">
							</div>

							<div class="mb-3">
								<label>Description</label>
								<textarea rows="3" cols="" name="productDescription"
									class="form-control">[[${product.productDescription}]]</textarea>
							</div>
							<div class="row">
								<div class="mb-3 col">
									<label>Category</label>
									<select class="form-control" name="categoryId" required>
										<!-- Category options -->
										<option th:each="category : ${allCategoryList}" th:value="${category.id}"
											th:text="${category.categoryName}"
											th:selected="${product.category != null and category.id == product.category.id}">
										</option>

										<!-- Optional 'Other' option -->
										<option value="-1" th:selected="${product.category == null}">
											Other
										</option>
									</select>

								</div>

								<div class="mb-3 col">
									<label>Price</label> <input type="number" name="productPrice" class="form-control"
										th:value="${product.productPrice}">
								</div>
							</div>

							<div class="row">
								<div class="mb-3 col">
									<label>Enter Stock</label>
									<input type="number" name="productStock" class="form-control"
										th:value="${product.productStock}">
								</div>

								<div class="mb-3 col">
									<label>Upload Image</label>
									<input type="file" name="file" class="form-control">
								</div>

								<div class="mb-3">
									<img th:src="@{'/images/'+${product.productImage}}" width="110px;" height="90px;">
								</div>

							</div>
							<button class="btn btn-danger col-md-12">Update</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>