.fixed-card {
    width: 100%;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.product-image-wrapper {
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.product-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}